.dashboard__outter {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 1fr 1fr;
  grid-template-rows: 7% 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'sidebar navbar navbar'
    'sidebar content content'
    'sidebar content content';
}

.sidebar {
  grid-area: sidebar;
}
.navbar {
  grid-area: navbar;
}
.content {
  grid-area: content;
}
